/* Basic style */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #0a0404;
  color: #fff;
}

/* ToDo list styling */
.todo {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.todo h1 {
  font-size: 10vmin;
  margin-bottom: 5vw;
  font-weight: 900;
}
#todo-input {
  padding: 1rem;
  outline: none;
  border: none;
  border-radius: 0.5rem;
  width: 60vmin;
}
#add-btn {
  padding: 1rem;
  background-color: green;
  color: #fff;
  outline: none;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
}
#todo-list {
  margin-top: 2vw;
}
#todo-list li {
  background-color: #fff;
  color: #000;
  padding: 1rem;
  margin-bottom: 2vmin;
  width: 75vmin;
  border-radius: 0.5rem;
  border: none;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
  transition: all 0.3s linear;
}
#todo-list li:hover {
  background-color: #afafaf;
}
.btn {
  cursor: pointer;
  background: transparent;
}
.edit-btn {
  color: green;
  border: none;
  outline: none;
  border-radius: 0.5rem;
  margin-right: 1rem;
}
.delete-btn {
  color: red;
  border: none;
  outline: none;
}
